.product__wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffe44d;
}

.product__title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.product__title {
    margin-top: 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 4px;
}
.product__content_wrapper {
    display: flex;
    gap: 30px;
}
.product__img_wrapper {
    min-width: 400px;
    padding: 20px;
    flex: 1;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #ffe44d;
    border-radius: 10px;
}

.product__inCart_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    padding: 10px;
    gap: 8px;
}
/* .product__old_price {
    font-size: 20px;
    text-decoration-line: line-through;
}
.product__price {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 5px;
}
._red {
    color: red;
}
._black {
    color: black;
} */
.product__delivery,
.product__quality {
    background: rgba(236, 239, 241, 0.5);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    gap: 15px;
}

.product__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__img {
    max-width: 100%;
    height: auto;
}

.product__description {
    max-width: 400px;
    flex-shrink: 0;
}

.product__description_price,
.product__description_title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    display: block;
    margin-bottom: 24px;
}
