header {
    background-color: #ffe44d;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu,
.header__menu span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__menu span {
    cursor: pointer;
}

.header__menu svg:hover {
    fill: orange;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.logo__pic {
    height: 50px;
}

footer {
    background-color: #ffe44d;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    display: grid;
    align-content: space-between;
    gap: 10px;
}

.footer__nav {
    display: grid;
    gap: 10px;
}

.footer__nav a:hover {
    color: orange;
}
