*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1024px;
    padding: 16px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}
